
  <% @users.each do |user| %>
        <tr>
         
          <td>  <%=user.email %></td>
        
          <td>  <%=user.role.name %></td>
          <td>  <%=user.confirmed?%></td>
          <td><%= link_to "Delete", admins_user_path(user),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} , class: 'btn btn-sm btn-danger'%>  </td>
        </tr>
      <%end%>

